/** Constants */
:root {
    --admonition-details-icon: url("data:image/svg+xml;charset=utf-8,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'><path d='M8.59 16.58L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.42z'/></svg>");
}

.admonition {
    margin: 1.5625em 0;
    padding: 0 0.6rem;
    overflow: hidden;
    color: var(--text-normal);
    page-break-inside: avoid;
    background-color: var(--background-secondary);
    border-left: 0.2rem solid rgb(var(--admonition-color));
    border-radius: 0.1rem;
    box-shadow: 0 0.2rem 0.5rem var(--background-modifier-box-shadow);
}

.admonition-title {
    position: relative;
    margin: 0 -0.6rem 0 -0.8rem;
    padding: 0.4rem 0.6rem 0.4rem 2rem;
    font-weight: 700;
    border-left: 0.2rem solid;
    background-color: rgba(var(--admonition-color), 0.1);
}

.admonition-title-icon {
    position: absolute;
    left: 0.6rem;
    width: 1.25rem;
    height: 1.25rem;
    color: rgb(var(--admonition-color));
    display: flex;
    justify-content: center;
    align-items: center;
}

.admonition-title.no-title {
    display: none;
}

.admonition > .admonition-title.no-title + .admonition-content {
    margin: 1em 0;
}

details.admonition:not([open]) {
    padding-bottom: 0;
    box-shadow: none;
}
details.admonition > summary {
    outline: none;
    list-style: none;
    display: block;
    min-height: 1rem;
    padding: 0.4rem 1.8rem 0.4rem 2rem;
    border-top-left-radius: 0.1rem;
    border-top-right-radius: 0.1rem;
    cursor: pointer;
}
details.admonition > summary::-webkit-details-marker {
    display: none;
}

details.admonition > summary:after {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    -webkit-mask-image: var(--admonition-details-icon);
    mask-image: var(--admonition-details-icon);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    transform: rotate(0deg);
    transition: transform 0.25s;
    content: "";
}
details.admonition[open] > summary:after {
    transform: rotate(90deg);
}

/** Invalid Setting */

.unset-align-items {
    align-items: unset;
}

.has-invalid-message {
    flex-grow: unset;
    flex-flow: column nowrap;
}

input.is-invalid {
    border-color: #dc3545 !important;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23dc3545'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23dc3545' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right calc(0.375em + 0.1875rem) center;
    background-size: calc(0.75em + 0.375rem) calc(0.75em + 0.375rem);
}

.invalid-feedback {
    display: block;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
    color: #dc3545;
}

.admonition li.task-list-item.is-checked p {
    text-decoration: line-through;
}
